.projects {
    width: 100%;

    h1 {
        color: rgb(77, 74, 111);
        font-family: Century Gothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }
}

.projects__blocks {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    gap: 54px;
}

.projects__country {
    width: 35%;
    height: 543px;
    padding: 4px 12px 10px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    overflow-x: auto;

    p {
        padding: 8px 12px 8px 12px;
        color: rgb(77, 74, 111);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        transition: 0.5s;
        cursor: pointer;
    }

    p:hover {
        border-radius: 6px;
        transition: 0.5s;
        background: rgb(242, 246, 255);
    }
}

.projects__country::-webkit-scrollbar {
    width: 4px;
    border-radius: 1px;

    background: rgba(68, 83, 113, 0.1);
}

.projects__country::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background: rgb(126, 126, 126);
}

.projects__popular {
    width: 29%;
    padding: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.projects__popularBlock {
    padding: 16px;
    border-radius: 6px;

    background: rgb(255, 255, 255);


    h5 {
        color: rgb(77, 74, 111);
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
}

.projects__popular_country {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projects__popular_countryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 28px;
            height: 20px;
        }

        p {
            color: rgb(77, 74, 111);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    span {
        color: rgb(126, 126, 126);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.projects__quantiPeople {
    padding: 16px 19px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 6px;
    background: rgb(255, 255, 255);

    h5 {
        color: rgb(77, 74, 111);
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }

    p {
        color: rgb(77, 74, 111);
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: right;
    }
}

.projects__cart {
    width: 500px;
    height: 551px;
    position: relative;

    &_chart {
        position: absolute;
        top: 0;
        left: 0;
    }

    &_buttons {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        right: 0;
        bottom: 20px;
        background: rgb(255, 255, 255);
        border-radius: 6px;

        button {
            padding: 4px;
            border: none;
            background: rgb(255, 255, 255);
            cursor: pointer;
        }

    }
}

.adaptive__count {
    display: none;
}

@media (max-width: 768px) {
    .projects {
        h1 {
            display: none;
        }
    }

    .projects__blocks {
        margin: 0;
        flex-direction: column-reverse;
    }

    .projects__cart {
        width: 100%;
        height: 435px;

        &_chart {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    .projects__popular {
        width: 100%;
        display: flex;
        padding: 0;
        flex-direction: row;
        gap: 20px;
    }

    .projects__popularBlock {
        width: 50%;
    }

    .projects__quantiPeople {
        img {
            width: 100%;
        }
    }

    .adaptive__count {
        width: 100%;
        display: block;

        h1 {
            display: block;

            margin-bottom: 16px;
        }
    }

    .projects__country {
        width: 100%;
        position: relative;
    }

    .secondCountry {
        display: none;
    }

}

@media (max-width: 480px) {
    .projects__popular {
        flex-direction: column;
    }

    .projects__popularBlock {
        width: 100%;
    }
}