.dataCollection {
    padding: 60px 60px 189px;
    display: flex;
    flex-direction: column;
    gap: 318px;
}

@media (max-width: 768px) {
    .dataCollection {
        padding: 60px 20px 80px;
        gap: 80px;

    }

}