* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: flex;
}
.app__content {
    width: 100%;
    background: rgb(249, 248, 248);
}

@media (max-width: 768px) {
    .app {
        display: flex;
        flex-direction: column
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./fonts/stylesheet.css');