.orders {
    padding: 60px 60px 189px;
    display: flex;
    flex-direction: column;
    gap: 83px;
}

@media (max-width: 768px) {
    .orders {
        padding: 60px 20px;
        gap: 68px;
    }
}